* {
    margin: 0;
    padding: 0;
}

body {
    text-align: justify;
    margin: 5vh 30%;
    background-image: url(paper_texture.jpg) ;
}

h1 {
    text-align: center;
}

h2 {
    margin: 2vh;
}

.dialogue {
    margin: 2vh;
}

.little_red_riding_hood {
    color: hsl(0, 78%, 40%);
}

.wolf {
    color:hsl(230, 80%, 39%)
}